@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Lato&display=swap');

body {
    background-image: url('./pictures/karsten-winegeart-2-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    color: #14213D;
    padding: 5vh 5vw;
    font-family: 'Lato', sans-serif !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F7F7;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #14213D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li button {
    display: inline;
    background-color: #F7F7F7;
    border: none;
    color: #14213D;
    font-size: 1em;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#right {
    float: right;
}

li button:hover, a:hover {
    color: #14213D;
    background-color: white;
}

.active {
    color: #F7F7F7;
    background-color: #14213D;
}

#etusivu {
    color: white;
    margin: auto;
    width: 50%;
    margin-top: 33vh;
    text-align: center;
    font-size: 2em;
}

#etusivu h1 {
    color: white;
    background-color: #F66200;
    font-size: 2em;
    padding: 10px;
    font-style: italic;
}

h1 {
    color:#F66200;
    font-family: 'Antonio', sans-serif !important;
}

.container-fluid {
    background-color: #F7F7F7;
    height: 80vh;
    margin-top: 3vh;
}




/* Colors:
Black : #000000
Oxford Blue: #14213D
Orange Web: #F66200
Platinum: #F7F7F7
White: #FFFFFF
*/